@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
.animate-marquee {
	animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
	animation-play-state: paused;
}

.project-enter {
	opacity: 0;
	transform: translateX(20px);
}
.project-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}

// #hero-section {
// 	/* Add a background image with cover sizing and center positioning */
// 	background-image: url('../../../../public/imgs/black background.jpg');
// 	background-size: 45dvw;
// 	background-position: right;
// 	background-repeat: no-repeat;
// }
