<div class="min-h-screen bg-black text-white p-8">
	<!-- Hero Section -->
	<section id="hero-section" class="mb-16">
		<app-hero-section />
	</section>

	<!-- Projects Carousel -->
	<section id="projects" class="mb-16">
		<app-projects />
	</section>

	<!-- Skills Section -->
	<section id="skills" class="mb-16">
		<app-skills></app-skills>
	</section>
	<!-- Work Experience -->
	<section id="experience" class="mb-16">
		<app-work />
	</section>
	<!-- Articles Section -->
	<section id="articles" class="mt-16">
		<app-articles />
	</section>
</div>
