<div class="flex sm:flex-row sm:justify-between flex-col justify-center">
	<div>
		<h1 class="text-6xl font-mono mb-4">AI<br />Developer</h1>
		<p class="text-gray-400 max-w-lg">
			I design and implement end-to-end AI solutions that optimize system performance, automate complex workflows, and
			drive efficiency.
		</p>

		<!-- Social Links -->
		<div class="flex mt-6 items-center" [style]="{ gap: '1rem' }">
			<a href="https://github.com/jdev-king" target="_blank" class="text-gray-400 hover:text-white">
				<i class="fa-brands fa-github fa-xl"></i>
			</a>
			<a href="https://www.linkedin.com/in/jesusdiezp/" target="_blank" class="text-gray-400 hover:text-white">
				<i class="fa-brands fa-linkedin fa-xl"></i>
			</a>
			<a href="https://www.instagram.com/jdev_king/" target="_blank" class="text-gray-400 hover:text-white">
				<i class="fa-brands fa-instagram fa-xl"></i>
			</a>
			<a href="https://jdev-king.medium.com" target="_blank" class="text-gray-400 hover:text-white">
				<i class="fa-brands fa-medium fa-xl"></i>
			</a>
		</div>
	</div>
	<div class="flex">
		<img
			src="imgs/black_background.jpg"
			alt="Hero background"
			class="sm:w-[50dvw] w-[100dvw] h-90 rounded-lg object-cover sm:[mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_100%)] sm:mt-0 mt-8"
		/>
	</div>
</div>
